$color_1: rgb(63, 95, 89);
$color_2: rgb(255, 255, 255);
$color_3: white;
$background-color_1: rgb(255, 255, 255);
$background-color_2: var(--btn-primary-border-color);

/*Contenedor formulario*/
/*Medio contenedor*/
/*Tomar el primer hijo de medio contenedor (izquierda)*/
/*Tomar el segundo hijo de medio contenedor (derecha)*/
/*Busca el formulario que esta dentro de la clase mid-container*/
/*Responsivo para la  imagen PENDIENTE*/
/*Contenedor imagen*/
/*Titulo principal*/
/*Todos los input del formulario*/
/*Terminos y condiciones, log-in*/
.form-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 50vw;
	height: 62vh;
	position: absolute;
	top: 50%;
	left: 50%;
	bottom: 0;
	right: 0;
	transform: translate(-50%, -63%);
}
.mid-container {
	border: 1px solid orange;
	padding: 2em;
	&:nth-child(1) {
		background: linear-gradient(180deg, #F2CB05 0%, #F29F05 45.31%, #F28705 100%);
		box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 21px 0px 0px 21px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&:nth-child(2) {
		background-color: $background-color_1;
		box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 0px 21px 21px 0px;
	}
	form {
		display: flex;
		flex-direction: column;
		grid-gap: 12px;
	}
}
.form-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
}
.responsive {
	width: 100%;
	height: auto;
}
.logo-container {
	width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.principal-title {
	font-size: x-large;
	font-weight: 500;
	margin-bottom: 0.5em;
	color: $color_1;
}
.input {
	width: 90%;
	margin: 0px auto;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0.1em solid rgb(63, 95, 89);
	margin: 0.4em;
}
.terms-container {
	text-align: center;
}
.log-in {
	text-align: center;
}
input[type="checkbox"] {
	appearance: none;
	border: 0.2em solid var(--btn-primary-border-color);
	width: 1.1em;
	height: 1.1em;
	cursor: pointer;
	&:checked {
		background-color: $background-color_2;
		color: $color_2;
		position: relative;
		&::after {
			content: "x";
			color: $color_3;
			width: 18px;
			height: 17px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-9px, -11px);
			font-weight: 500;
			z-index: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			align-content: center;
		}
	}
}
element.style {
	margin: auto;
}
.border-success {
	border-left: 2px solid green;
}
.border-danger {
	border-left: 2px solid red;
}
