<main>
    <app-preloader *ngIf="isLoading"></app-preloader>
    <article class="principal-container">
        <article class="form-container">
            <section class="mid-container">
                <img src="../../../assets/img/logo.png" alt="logo" class="form_logo">                
            </section>
            <section class="mid-container" *ngIf="!terminosCondiciones; else tyc" >
                <header>
                    <div alt="logo" class="logo_image_mobile"></div>
                    <h1 class="principal-title">Registro</h1>
                </header>
                <form [formGroup]="formRegister" (ngSubmit)="onRegistrar()">

                    <input class="input" type="text" id="username" name="username" placeholder="Nombre"
                        formControlName="nombreUsuario" required />


                    <input class="input" type="text" id="lastname" name="lastname" placeholder="Apellido"
                        formControlName="apellidoUsuario" required />


                    <input class="input" type="text" id="email" name="email" placeholder="Correo"
                        formControlName="correoUsuario" required />


                    <div class="input_icon_password">
                        <input class="input" (focus)='onshowPasswordIcon()' [type]='viewPasswordInput?"text":"password"'
                            id="password"
                            title="8 caracteres y que tenga al menos una letra, un número y un carácter especial"
                            name="password" placeholder="Contraseña" formControlName="Password1" required />
                        <div *ngIf="viewPasswordShowInput" class="icon_password" (click)="onChangeViewPassord()">
                            <i *ngIf="viewPasswordInput; else eyehide" class="fa fa-eye icon icon_color"></i>
                            <ng-template #eyehide>
                                <i class="fa fa-eye-slash icon icon_color"></i>
                            </ng-template>
                        </div>

                    </div>

                    <div class="input_icon_password">
                        <input class="input" (focus)='onshowPasswordIcon()'
                            [type]='viewPasswordConfirmInput?"text":"password"' id="confirm-password"
                            name="confirm-password" placeholder="Confirmar Contraseña" formControlName="Password2"
                            required />
                        <div *ngIf="viewPasswordShowInput" class="icon_password" (click)="onChangeViewPassordConfirm()">
                            <i *ngIf="viewPasswordConfirmInput; else eyehide" class="fa fa-eye icon icon_color"></i>
                            <ng-template #eyehide>
                                <i class="fa fa-eye-slash icon icon_color"></i>
                            </ng-template>
                        </div>

                    </div>

                    <label class="terms-container"><input type="checkbox" id="cbox1" value="checkbox" formControlName="isCheckedTyC" (change)="onCheckboxChange()"> Aceptar
                        términos
                        y condiciones</label>
                    <app-my-btn-primary textoBoton="REGISTRARME"></app-my-btn-primary>
                    <label class="log-in">Si ya tienes cuenta ingresa <a [routerLink]="['']">aquí</a> </label>
                    
                </form>
            </section>
            <ng-template #tyc>
                <div #modal class="modal">
                    <div class="content" >
                        <h1>Terminos y condiciones Ruta-Amigapp</h1>
                        <div #content  class="modal-content" (scroll)="onScroll()">
                            <p>Estos términos y condiciones rigen su acceso y uso del aplicativo web de rutas de transporte público y seguimiento en tiempo real en Armenia, proporcionado por RutaAmigapp.

                                Al utilizar el servicio, usted acepta estar sujeto a estos términos y acepta cumplir con ellos. Si no está de acuerdo con estos términos, no use el servicio.
                                
                                Descripción del servicio:
                                El servicio proporciona información en tiempo real sobre las rutas de transporte público en Armenia, incluyendo la ubicación de los vehículos brindada por los usuarios, la hora estimada de llegada y la tarifa aproximada del pasaje. El servicio también puede proporcionar información adicional, como reseñas de usuarios y la disponibilidad de transporte accesible.
                                
                                Uso del servicio:
                                Usted acepta usar el servicio sólo para fines legales y de acuerdo con estos términos. Usted reconoce que cualquier uso del servicio que viole estos términos puede resultar en la suspensión o terminación de su acceso al servicio.
                                
                                Usted acepta que no utilizará el servicio para:
                                a. Violar cualquier ley o regulación aplicable.
                                b. Hacerse pasar por otra persona o entidad, o falsear su afiliación con cualquier persona o entidad.
                                c. Publicar o transmitir cualquier contenido que sea ilegal, amenazante, difamatorio, obsceno, ofensivo, pornográfico, violento o que infrinja los derechos de propiedad intelectual o de privacidad de otra persona.
                                d. Acceder o utilizar el servicio de manera que pueda dañar, desactivar, sobrecargar o deteriorar el rendimiento del servicio o interferir con el uso del servicio por parte de otros usuarios.
                                
                                Propiedad intelectual:
                                Nosotros somos dueños de todos los derechos de propiedad intelectual en el servicio, incluyendo sin limitación, patentes, marcas comerciales, derechos de autor, diseños, bases de datos, código fuente, textos, gráficos, imágenes, fotografías, videos y otros contenidos ("Propiedad Intelectual"). Usted acepta no utilizar la propiedad intelectual de ninguna manera que infrinja nuestros derechos o los derechos de cualquier tercero.
                                
                                Privacidad:
                                Nosotros recopilamos y utilizamos información sobre usted de acuerdo con nuestra política de privacidad. Al utilizar el servicio, usted acepta nuestra política de privacidad.
                                
                                Modificaciones al servicio y a los términos:
                                Nos reservamos el derecho de modificar o discontinuar el servicio en cualquier momento, sin previo aviso y sin responsabilidad hacia usted.
                                
                                También podemos modificar estos términos en cualquier momento, publicando los términos actualizados en el servicio. Su uso continuado del servicio después de la publicación de los términos actualizados significa que acepta los términos actualizados.
                                
                                Exención de responsabilidad:
                                El servicio se proporciona "tal cual" y "según disponibilidad". No garantizamos la exactitud, integridad, calidad, confiabilidad o puntualidad de la información proporcionada a través del servicio.
                                </p>
                        </div>
                        <button #button class="scroll-btn" [disabled]="!isEndOfScroll" (click)="onChangeTyC()">CONTINUAR</button>
                    </div>
                </div>
            </ng-template>            
        </article>
    </article>
   
</main>