.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100vh;
}

.dashboard-content{
    display: grid;
	grid-template-columns: 16rem 1fr;
    padding-top: 3rem;
}