@import "../../../~variables.scss";

.my-btn-primary {
	background-color: $background-color_2;
	border: 0.2em solid $color_2;
	border-radius: 5px;
	padding: 0.2em 1em;
	color: $color_2;
	font-weight: 500;
	transition: .3s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	font-family: 'Exo', sans-serif;
	font-weight: bold;
	&:hover {
		background-color: $background-color_1;
		color: $color_4;
		font-weight: 500;
		transition: .3s;
	}
}
