$color_1: rgb(38, 115, 101);
$color_2: var(--color-white);
$background-color_1: var(--color-white);
$background-color_2: var(--btn-primary-bg);

.my-btn-primary {
	background-color: $background-color_1;
	border: 0.2em solid rgb(38, 115, 101);
	border-radius: 5px;
	padding: 0.2em 1em;
	color: $color_1;
	font-weight: 500;
	transition: .3s;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	&:hover {
		background-color: $background-color_2;
		color: $color_2;
		font-weight: 500;
		transition: .3s;
	}
}
