<app-preloader *ngIf="isLoading"></app-preloader>
<article class="list-users-containers">
    <div class="contenedor-table-list">
        <div>
            <div>
                <form >
                    <input class="input" type="text" style="float: left;" id="buscar" name="buscar"  placeholder="Buscar por correo..." [(ngModel)]="usuarioFind" >
                    <app-my-btn-primary style="float: left;" textoBoton="BUSCAR" (click)="onFindUser($event)"></app-my-btn-primary>
                    <app-my-btn-primary style="float: left; margin-left: 0.5em;" textoBoton="LIMPIAR" (click)="onLimpiar()"></app-my-btn-primary>
                    <app-my-btn-primary style="float: right;" [routerLink]="['/dashboard/nuevo-usuario']"
                    textoBoton="NUEVO USUARIO"></app-my-btn-primary>                    
                </form>
                
            </div>
            <div class="contenedor-table">
                <table class="table-list-users">
                    <thead>
                        <tr>                            
                            <th>Nombre Usuario</th>
                            <th>Apellido Usuario</th>
                            <th>Correo Usuario</th>
                            <th>Estado Usuario</th>
                            <th>Fecha creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="links">
                                    <a (click)="atras()">&laquo;</a>
                                    <a *ngFor="let item of usuarios;let i=index" (click)="saltarPagina(i+1)">{{i+1}}</a>
                                    <a (click)="siguiente()">&raquo;</a>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                       
                            <tr *ngFor="let usuario of usuarios">                                
                                <td scope="row">{{usuario.user_name}}</td>
                                <td scope="row">{{usuario.user_lastname}}</td>
                                <td scope="row">{{usuario.user_email}}</td>
                                <td scope="row"
                                    [ngClass]="{'background-color:red':usuario.user_isactive,'background-color:green':!usuario.user_isactive}">
                                    {{usuario.user_isactive?'Activo':'Inactivo'}}</td>
                                <td scope="row">{{usuario.user_create_date | date:'MM/dd/yyyy' }}</td>
                                <td scope="row">
                                    <div class="boton-actions">
                                        <app-my-btn-primary classBoton="my-btn-danger"
                                            (click)="deleteUsuario(usuario.user_id)" textoBoton="ELIMINAR">
                                        </app-my-btn-primary>
                                        <app-my-btn-primary classBoton="my-btn-info"
                                            (click)="updateUrlUser('/dashboard/actualizar-usuario/',usuario.user_id)"
                                            textoBoton="ACTUALIZAR"></app-my-btn-primary>
                                    </div>
                                </td>
                            </tr>          
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</article>