<article class="list-users-containers">
    <div class="contenedor-table-list">
        <div class="row">
            <div class="col-2 pb-2">
                <button [routerLink]="['/dashboard/nuevo-usuario']" class="my-btn-primary">NUEVO USUARIO</button>
            </div>
            <div class="col-12 contenedor-table">

                <!-- <span *ngIf="usuarios.length<=1; else showThis"></span>
                <ng-template #showThis>
                    <span>Numero de usuarios:{{usuarios.length}}</span>
                </ng-template> -->
                <br>
                <table class="table-list-users">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre Usuario</th>
                            <th>Apellido Usuario</th>
                            <th>Correo Usuario</th>
                            <th>Estado Usuario</th>
                            <th>Fecha creacion</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="links">
                                    <a href="#">&laquo;</a>
                                     <a class="active" href="#">1</a> 
                                     <a href="#">2</a> 
                                     <a href="#">3</a> 
                                     <a href="#">4</a> 
                                     <a href="#">&raquo;</a></div>
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="mx-auto text-center" *ngIf="loading; else tableUsuario">
                            <td colspan="7">
                                <h3>Cargando datos...</h3>
                                <span class="loader"></span>
                            </td>
                        </tr>
                        <ng-template #tableUsuario>
                            <tr *ngFor="let usuario of usuarios">
                                <th scope="row">{{usuario.user_id}}</th>
                                <td scope="row">{{usuario.user_name}}</td>
                                <td scope="row">{{usuario.user_lastname}}</td>
                                <td scope="row">{{usuario.user_email}}</td>
                                <td scope="row"
                                    [ngClass]="{'bg-success':usuario.user_status,'bg-danger':!usuario.user_status}">
                                    {{usuario.user_status?'Activo':'Inactivo'}}</td>
                                <td scope="row">{{usuario.create_date | date:'MM/dd/yyyy' }}</td>
                                <td scope="row">
                                    <button class="my-btn-primary"
                                        (click)="deleteUsuario(usuario.user_id)">ELIMINAR</button>
                                    <button class="my-btn-danger"
                                        (click)="deleteUsuario(usuario.user_id)">ACTUALIZAR</button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</article>