<article >
    <div class="mx-auto container center-container center">
        <div class="row">
            <div class="col-2 pb-2">

                <button [routerLink]="['../usuarioRegister']" class="my-btn-primary">NUEVO USUARIO</button>
            </div>

            <div class="col-12 contenedor-table">

                <span *ngIf="usuarios.length<=1; else showThis"></span>
                <ng-template #showThis>
                    <span>Numero de usuarios:{{usuarios.length}}</span>
                </ng-template>

                <table
                    class=" text-center table table-bordered table-responsive table-center table-hover table-striped table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">idUsuario</th>
                            <th scope="col">Nombre Usuario</th>
                            <th scope="col">Apellido Usuario</th>
                            <th scope="col">Correo Usuario</th>
                            <th scope="col">Estado Usuario</th>
                            <th scope="col">Fecha creacion</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mx-auto text-center" *ngIf="loading; else tableUsuario">
                            <td colspan="7">
                                <h3>Cargando datos...</h3>
                                <span class="loader"></span>
                            </td>

                        </tr>
                        <!-- <pre>{{usuarios}}</pre> -->
                        <ng-template #tableUsuario>
                            <tr *ngFor="let usuario of usuarios">
                                <th scope="row">{{usuario.user_id}}</th>
                                <td scope="row">{{usuario.user_name}}</td>
                                <td scope="row">{{usuario.user_lastname}}</td>
                                <td scope="row">{{usuario.user_email}}</td>
                                <td scope="row"
                                    [ngClass]="{'bg-success':usuario.user_status,'bg-danger':!usuario.user_status}">
                                    {{usuario.user_status?'Activo':'Inactivo'}}</td>
                                <td scope="row">{{usuario.create_date | date:'MM/dd/yyyy' }}</td>
                                <td scope="row"><button class="btn btn-danger"
                                        (click)="deleteUsuario(usuario.user_id)">ELIMINAR</button></td>
                            </tr>
                        </ng-template>
                        <tr>
                            <td colspan="7">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                        <li id="btnAtras" class="page-item disabled">
                                            <a (click)="atras()" class="page-link" tabindex="-1">Atras</a>
                                        </li>
                                        <!-- <li class="page-item" *ngFor='let item of [].constructor(itemsPaginado); let i = index'><a class="page-link" href="#">{{i+1}}</a></li> -->
                                        <li id="btnSiguiente" class="page-item">
                                            <a (click)="siguiente()" class="page-link" tabindex="1">Siguiente</a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>


    </div>
</article>