<main>
    <article class="principal-container">
        <article class="form-container">
            <section class="mid-container">
                    <img src="../assets/img/logo.png" alt="logo" class="form_logo">
            </section>
            <section class="mid-container">
                <header>
                    <div alt="logo" class="logo_image_mobile"></div>
                    <h1 class="principal-title">Gracias por ser parte de Rutaamigapp</h1>
                    <app-my-btn-primary textoBoton="ACTIVAR" (click)="activar()"></app-my-btn-primary>
                </header>                
            </section>
        </article>
    </article>
</main>