<nav class="nav-bar-dashboard">
    <article class="logo-container-nav">
        <img src="../assets/img/logo1 - banner.png" alt="logo" style="width: 200px;">
    </article>
    <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-item-menu">
          <div><span href=""><img class="iconos" src="../../../assets/ICONOS/Icon=Rutes, Estilo=Dark.svg" alt=""></span></div>
          <div><span class="nav-link" aria-current="page" [routerLink]="['/dashboard/rutas-usuario']">Rutas</span></div>
          <div>></div>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-item-menu">
          <div><span href=""><img class="iconos" src="../../../assets/ICONOS/Icon=Profile, Estilo=Dark.svg" alt=""></span></div>
          <div><span class="nav-link" aria-current="page" [routerLink]="['/dashboard/perfil-usuario']">Perfil</span></div>
          <div>></div>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-item-menu">
          <div><span href=""><img class="iconos" src="../../../assets/ICONOS/Icon=Favorite, Estilo=Dark.svg" alt=""></span></div>
          <div><span class="nav-link" aria-current="page" [routerLink]="['/dashboard/listar-favoritos-usuarios']">Favoritos</span></div>
          <div>></div>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-item-menu">
          <div><span href=""><img class="iconos" src="../../../assets/ICONOS/Icon=Notificacion, Estilo=Dark.svg" alt=""></span></div>
          <div><span class="nav-link" aria-current="page" [routerLink]="['/dashboard/mensaje-usuario']">Mensajes</span></div>
          <div>></div>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-item-menu">
          <div><span href=""><img class="iconos" src="../../../assets/ICONOS/Icon=Settings, Estilo=Dark.svg" alt=""></span></div>
          <div><span class="nav-link" aria-current="page" [routerLink]="['/dashboard/configuracion-usuario']">Configuración</span></div>
          <div>></div>
          </div>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>