@import "../../../~variables.scss";
$border-color_1: #FF3D00 transparent;

.list-users-containers {

	.contenedor-table-list {
		margin: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		.contenedor-table {
			display: flex;
			overflow-x: auto;
			flex-direction: column;
			margin-top: 2rem;


			.table-list-users {
				width: 100%;
				border-collapse: collapse;

				th {
					background-color: $color_2;
					color: $color_4;
				}

				th,
				td {
					padding: 10px;
					text-align: left;
					white-space: nowrap;
				}

				tbody {
					height: 23rem;
				}

				tbody tr:nth-child(even) {
					background-color: $color_9;
				}

				tfoot td {
					padding: 0;
				}

				.links {
					display: flex;
					justify-content: center;
					margin-top: 10px;
					background-color: $background-color_1;
					color: $color_4;

					a {
						color: $color_4;
						padding: 8px 16px;
						text-decoration: none;

						&:hover:not(.active) {
							background-color: $background-color_1;
						}

						&.active {
							background-color: $background-color_5;
							color: $color_4;
						}
					}
				}
			}
		}

		th,
		td {
			padding: 10px;
			text-align: left;
			white-space: nowrap;
		}

		th {
			background-color: #eee;
		}

		tbody tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tfoot td {
			padding: 0;
		}

		.links {
			display: flex;
			justify-content: center;
			margin-top: 10px;

			a {
				color: #007bff;
				padding: 8px 16px;
				text-decoration: none;

				&:hover:not(.active) {
					background-color: #ddd;
				}

				&.active {
					background-color: #007bff;
					color: #fff;
				}
			}
		}
	}

	.boton-actions {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 5px
	}
}

/* Loading */
@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}



.contenedor-table {
	height: 100%;
}

a {
	&:hover {
		cursor: pointer;
	}
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid;
	border-color: $border-color_1;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}


//STYLE TABLE
$color_1: #FFFFFF;


table.table-list-users {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 59em;
	height: 70vh;
	text-align: center;
	border-collapse: collapse;

	td {
		border: 1px solid #AAAAAA;
		padding: 3px 5px;
	}

	th {
		border: 1px solid #AAAAAA;
		padding: 3px 5px;
	}

	tbody {
		td {
			font-size: 1;
		}
	}

	tr {
		&:nth-child(even) {
			background: white
		}
	}

	thead {
		background: #267365;
		background: -moz-linear-gradient(top, #5c968b 0%, #3b8174 66%, #267365 100%);
		background: -webkit-linear-gradient(top, #5c968b 0%, #3b8174 66%, #267365 100%);
		background: linear-gradient(to bottom, #5c968b 0%, #3b8174 66%, #267365 100%);
		border-bottom: 2px solid #444444;

		th {
			font-size: 15px;
			font-weight: bold;
			color: $color_1;
			border-left: 2px solid #D0E4F5;

			&:first-child {
				border-left: none;
			}
		}
	}

	tfoot {
		font-size: 14px;
		font-weight: bold;
		color: $color_1;
		background: #267365;
		background: -moz-linear-gradient(top, #5c968b 0%, #3b8174 66%, #267365 100%);
		background: -webkit-linear-gradient(top, #5c968b 0%, #3b8174 66%, #267365 100%);
		background: linear-gradient(to bottom, #5c968b 0%, #3b8174 66%, #267365 100%);
		border-top: 2px solid #444444;

		td {
			font-size: 14px;
		}

		.links {
			text-align: right;

			a {
				display: inline-block;
				background: #3CB6A0;
				color: $color_1;
				padding: 2px 8px;
				border-radius: 5px;
			}
		}
	}
}

.boton-actions {
	display: flex;
	flex-direction: row
}


.container-profile {
	width: 59rem;
	margin: 0px auto;
	height: 26rem;
	display: flex;
	justify-content: center;
	align-items: center;

}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: center;
	border-radius: 12px 12px;
	width: 100%;
	height: 100%;
	padding: 23px;
	border: 1px solid rgb(179, 177, 177)

}

fieldset>legend {
	font-size: 1.5em;
}

.profile-user {
	padding: 15px;
}


.img-profile {
	border: 2px solid orange;
    border-radius: 100%;
    padding: 3px;
    outline: orange solid 4px;
    outline-offset: -12px;
	width: 210px;
}

.info section{
	padding: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid: 32px;
    place-content: center;
    place-items: center;
    text-align: center;
    background-color: #ededed;
    margin: 12px;
    border-radius: 7px;
}
	

.profile-user span {
	font-family: 'Exo', sans-serif;
}
