@import "../../../~variables.scss";

element.style {
	margin: auto;
}

@media screen and (min-width: 1095px) {
	.logo_image_mobile {
		visibility: hidden;
		display: none;
	}
}

@media screen and (max-width: 1094px) {
	.form-container {
		display: flex;
		flex-direction: column;
		height: 25rem;
		width: 20rem;
		transition: all;
	}

	.mid-container {
		&:nth-child(1) {
			visibility: hidden;
			display: none;

		}
	}

	.principal-title {
		text-align: center;
	}

	.logo_image_mobile {
		max-width: 100%;
		width: 100%;
		height: 6em;
		object-fit: fill;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('./../../../assets/img/logo1_banner.png');
		background-position: center;
	}
}