<app-preloader *ngIf="isLoading"></app-preloader>
<main>
    <article class="principal-container">
        <article class="form-container">
            <section class="mid-container">
                <img src="../assets/img/logo.png" alt="logo" class="form_logo">
            </section>
            <section class="mid-container">
                <header>
                    <div alt="logo" class="logo_image_mobile"></div>
                    <h1 class="principal-title">Inicio de sesión</h1>
                </header>
                <form [formGroup]="formLogin" (ngSubmit)="onIngresar()">
                    <input class="input" type="text" id="email" name="email" placeholder="Correo"
                        formControlName="email" ngModel />
                    <div class="input_icon_password">
                        <input class="input" (focus)='onshowPasswordIcon()' [type]='viewPasswordInput?"text":"password"' id="password"
                            name="password" placeholder="Contraseña" formControlName="password" ngModel />
                        <div *ngIf="viewPasswordShowInput" class="icon_password" (click)="onChangeViewPassord()">
                            <i *ngIf="viewPasswordInput; else eyehide" class="fa fa-eye icon icon_color"></i>
                            <ng-template #eyehide>
                                <i class="fa fa-eye-slash icon icon_color"></i>
                            </ng-template>
                        </div>

                    </div>
                    <app-my-btn-primary textoBoton="INGRESAR"></app-my-btn-primary>
                    <label class="log-in">Si no tienes cuenta regístrate <a [routerLink]="['/registrar']">aquí</a>
                    </label>
                    <label class="log-in">¿Has olvidado tu contraseña? <a
                            [routerLink]="['/reset-password']">Restablecerla</a> </label>
                </form>
            </section>
        </article>
    </article>
    <!-- <app-notifications></app-notifications> -->
</main>