@import "../../../~variables.scss";

#map {
    width: 100vw;
    height: 100vh;
    z-index: -99999;
    background-color: rgb(220, 221, 221);
}

.marker {
    background-image: url('../../../assets/iconbus.svg');
    background-size: cover;
    width: 2.62rem;
    height: 2.62rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: $background-color_4 !important
}


.mapboxgl-popup {
    max-width: 12.5rem;
}

.mapboxgl-popup-content {
    text-align: center;
}