<nav class="navbar">
    <div class="icon" [routerLink]="['']"></div>
    <div class="nav_items" id="_items">
        <!-- MOSTRAMOS LO BOTONOS SI NO ESTA LOGUEADO -->
        <ng-template #nologin>
            <div> <a [routerLink]="['']">Inicio</a></div>
            <div> <a [routerLink]="['/registrar']">Registro</a></div>
        </ng-template>
        <div *ngIf="auth.isLoggedIn() | async ; else nologin"><a><span>Bienvenid@
                    {{getUsuario()}}</span></a>
        </div>
        <div class="nav_items_contenedor--avatar" *ngIf="auth.isLoggedIn() | async"> <img src="{{getUsuarioImg()}}"
                alt="{{getUsuarioImg()}}"></div>
    </div>
    <!-- side bar -->
    <div class="sidebar" [ngClass]="{'sidebar':true,'open':isMenuOpen}">
        <!-- MOSTRAMOS LO BOTONOS SI NO ESTA LOGUEADO -->
        <div class="icon_sidebar" [routerLink]="['']"></div>
        <ng-template #nologin>
            <div class="item_sidebar"> <a [routerLink]="['']">Inicio</a></div>
            <div class="item_sidebar"> <a [routerLink]="['/registrar']">Registro</a></div>
        </ng-template>
        <div  class="item_sidebar" *ngIf="auth.isLoggedIn() | async ; else nologin"><a><span>Bienvenid@
                    {{getUsuario()}}</span></a>
        </div>
        <div class="nav_items_contenedor--avatar" *ngIf="auth.isLoggedIn() | async"> <img src="{{getUsuarioImg()}}"
                alt="{{getUsuarioImg()}}"></div>
    </div>
    <div class="nav_toggle" (click)="toogleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
