<nav class="navbar">
    <div class="icon" [routerLink]="['']"></div>
    <div class="nav_items" id="_items">
        <div> <a [routerLink]="['']">Inicio</a></div>
        <div> <a [routerLink]="['/registrar']">Registro</a></div>
        <div *ngIf="auth.isLoggedIn() | async"><a href="/portafolio"><span>Bienvenid@ {{getUsuario()}}</span></a>
        </div>
        <div class="nav_items_contenedor--avatar" *ngIf="auth.isLoggedIn() | async"> <img src="{{getUsuarioImg()}}"
                alt="{{getUsuarioImg()}}"></div>
    </div>
    <div class="nav_toggle" id="_toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<!-- Nav var
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div>
        <div *ngIf="auth.isLoggedIn() | async ; else nologin" class="nav-item active">
            <a class="nav-link">|Bienvenid@ {{auth.getCurrentUser()}}|<span class="sr-only"></span></a>
        </div>
        <ng-template #nologin>
            <div >
                <div >
                    <a class="nav-link" aria-current="page" [routerLink]="['/registrar']">Registro</a>
                </div>
                <div >
                    <a class="nav-link" aria-current="page" [routerLink]="['/']">Ingresar</a>
                </div>
            </div>   
        </ng-template>    
        </div>
    </div>
-->