@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/*Letter colors*/
$color_1: rgb(242, 159, 5);
$color_2: rgb(38, 115, 101);
$color_3: rgb(63, 95, 89);
$color_4: rgb(255, 255, 255);
$color_5: rgb(193, 20, 20);
$color_6: rgb(205, 134, 2);
$color_7: rgb(42, 170, 42);

/*Shadows colors*/
$shadow_1: rgba(26, 25, 25, 0.501);


/*Background colors*/
$background-color_1: rgb(38, 115, 101);
$background-color_2: rgb(255, 255, 255);
$background-color_3: rgb(242, 159, 5);
$background-color_4: rgb(193, 20, 20);

/*Font styles*/